/* * {
  margin: 1em;
  padding: 1em;
} */

body{
    text-align:center;
    /* margin: 1em; */
}
header {
  border: dashed red;
  border-width: 4px;
  /* height: 12vh; */
  margin: 1em;
}
.name, .currentDate {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: bold; 
  font-size: 1.5em;
}

nav {
  border: dashed blue;
  margin: 1em;
  border-width: 4px;
  /* height: 18vh; */
  display:flex; 
  justify-content: space-evenly;
}
.sectionContainer {
  border: dashed green;
  border-width: 4px;
  margin: 1em;
}
section {
  border: 2px solid gray;
   /* height: 9vh; */
  margin: 1em;
}
.articleTitle{
  border: 2px solid black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: normal;
  font-size: 1.5em;
  margin: 0.6em;
  text-align: center;
}

article {
font-family: "Roboto", sans-serif;
border: 2px solid green;
max-width: 60em;
margin: 12px auto;
text-align: left;
}

header h1 {
  text-align: center;
} 

/* ul sets the margin,padding to 0, and the width to 100% of its containing nav */
ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.shopsite, h1, h2, .onsale{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal; 
  font-size: 1.5em;
  text-align: left;
}
.shopsite {
  border: 2px solid black;
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 20px 0; /* (top-bottom left-right) */
  /* height: 4vh; */
  margin: 1em;
  border-radius: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

.parentContainer{     /* css for div should never have use table elements in its combinators*/
  margin: 1em;
  border: solid purple;
  padding: 2em;
  overflow: hidden;}

/* tells the childContainer to occupy 1005 of the parentContainer */
.childContainer {
  border: 5px solid black;
  padding: 20px;
  width: 100%;
}

/* tells the td inside the childContainer to split columns equally */
.childContainer th tr td {
  border: 2px solid blue;
  padding: 8px;
  width: 50%;
}

/* quote parent container */
.quote {
  display: flex;
}
.quote {
  /* border: 2px solid black; */
    font-family: Roboto; /* Example font */
    line-height: 2.5em;
    font-size: 12px; /* Base font size */
    padding-bottom: 40px; /* Optional: Add padding for better visual */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.quote span:hover {
    font-size: 30px; /* Increase font size on hover */
    background-color: bisque;
}

.jobs {
    /* border: solid gray; */
    margin: 1em 3em;    
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.crazyOnes {
  /* border: 2px solid peru; */
  text-align:left;
  font-size: 2em;;

}
.crazyOnesContainer {
  /* border: 2px solid green; */
  margin: 1em;
  padding: 0;
  width: 100%;  
}
.capitalizeHere em::first-letter {
  text-transform: capitalize;
}
/* 
.tRow:not(:last-child) td{
  border: 2px solid red;
} */

#Macys {
  background-color: red;
}
#ToysRus {
  background-color: blue;
}
#Kohls {
  background-color: green;
}
#Target {
  background-color: purple;
}

.footer {
  display:flex;
}

.ftrTitle {
  font-weight: bold;
}

.mainColumn1 {
  border: 2px solid black;
  padding: 20px;
  text-align: left;
  width: 100%;
  } 

.mainColumn2 {
  border: 2px solid black;
  padding: 20px;
  text-align: left;
  width:100%;

  } 

.mainColumn3 {
  border: 2px solid black;
  padding: 20px;
  width: 100%;   
  text-align: left;
}

.mainColumn4 {
  border: 2px solid black;
  padding: 20px;
  text-align: left;
  width:100%;

}

.mainColumn5 {
  border: 2px solid black;
  padding: 20px;
  width:100%;

  /* flex:1 */
}

.globe {
  color: black;
}

hr {
  height: 0.5vw;
  background-color: black;
}

# bonus settings

.spanColumn {
margin: 0 auto;
}

.spanColumn, th, td {
  border: 2px solid black;
}

.tRowHeader, .tRowHeader td {
  width: 100%;
}

# table with contents settings

.tableContents {
  border: 2px solid black;
}

.spanColumn2 {
  width: 100%;
/* margin: 0 auto; */
}

.spanColumn2, th, td {
  border: 2px solid black;
}

.tRowHeader2, .tRowHeader2 td {
  width: 100%;
}

.no-bullets {
  list-style-type: none;
}

.no-bullets {
  /* border: 2px solid red; */
  margin: 20px;
  display:flex;
  justify-content:center;
  }

.option1, .option2, .option3, .option4 {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 5px;
  color: white;
}

.option1 {
  background-color: red;
}
.option2 {
  background-color: blue;
}
.option3 {
  background-color: green;
}
.option4 {
  background-color: purple;
}

.humanoid {
  align-items: normal;
}

img.humanoid {
  width: 392px;
  height: 230px;px;
}

td.humanoidColumn {
  width: 50%;}
  
.apolloDesc {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  object-fit: cover;
}

.Table2  { 
  width: 100%%;
}

.imgContainer {
  border: 2px solid rgb(195, 8, 136);
  width: 100%;
  height: auto;
  overflow:hidden;
}

